<!DOCTYPE html>
<html> 
  <head> 
    <title>Demos</title> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="/gaelic/static/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/gaelic/static/demos_styles.css" type="text/css" rel="stylesheet"/>
    <script src="/gaelic/static/jquery-1.7.1.min.js"></script>
    <script src="/gaelic/static/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="/gaelic/static/axQuery.js"></script>
    <script src="/gaelic/static/globals.js"></script>
    <script src="/gaelic/static/axutils.js"></script>
    <script src="/gaelic/static/annotation.js"></script>
    <script src="/gaelic/static/axQuery.std.js"></script>
    <script src="/gaelic/static/doc.js"></script>
    <script src="/gaelic/static/document.js"></script>
    <script src="/gaelic/static/messagecenter.js"></script>
    <script src="/gaelic/static/events.js"></script>
    <script src="/gaelic/static/action.js"></script>
    <script src="/gaelic/static/expr.js"></script>
    <script src="/gaelic/static/geometry.js"></script>
    <script src="/gaelic/static/flyout.js"></script>
    <script src="/gaelic/static/ie.js"></script>
    <script src="/gaelic/static/model.js"></script>
    <script src="/gaelic/static/repeater.js"></script>
    <script src="/gaelic/static/sto.js"></script>
    <script src="/gaelic/static/utils.temp.js"></script>
    <script src="/gaelic/static/variables.js"></script>
    <script src="/gaelic/static/drag.js"></script>
    <script src="/gaelic/static/move.js"></script>
    <script src="/gaelic/static/visibility.js"></script>
    <script src="/gaelic/static/style.js"></script>
    <script src="/gaelic/static/adaptive.js"></script>
    <script src="/gaelic/static/tree.js"></script>
    <script src="/gaelic/static/init.temp.js"></script>
    <script src="/gaelic/static/demos_data.js"></script>
    <script src="/gaelic/static/legacy.js"></script>
    <script src="/gaelic/static/viewer.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return '/gaelic/static/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return '/gaelic/static/Other.html'; };
      $axure.utils.getReloadPath = function() { return '/gaelic/static/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Shape) -->
      <div id="u0" class="ax_shape">
        <img id="u0_img" class="img " src="/gaelic/static/u0.png"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u2" class="ax_h2 h2">
        <img id="u2_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u3" class="text">
          <p><span style="font-family:'Trebuchet MS Bold', 'Trebuchet MS';font-weight:700;">Try to see how it works</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u4" class="ax_paragraph paragraph">
        <img id="u4_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u5" class="text">
          <p><span>Before you will try Tokeniser or Tagger we would like to inform you, that </span><span>In order to do some statistics on the usage of the API, we would like to archive your IP address.</span></p><p><span>You can choose to opt out of this by unchecking the checkbox.</span></p><p><span>&nbsp;</span></p><p><span>Please note that this is only for demonstration purposes. If you want to use this service for your research project or in your own apps, please </span><span>contact us</span><span>.</span></p><p><span>&nbsp;</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u6" class="ax_image">
        <img id="u6_img" class="img " src="/gaelic/static/u6.png"/>
        <!-- Unnamed () -->
        <div id="u7" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u8" class="ax_image">
        <img id="u8_img" class="img " src="/gaelic/static/u8.png"/>
        <!-- Unnamed () -->
        <div id="u9" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u10" class="ax_paragraph h3">
        <img id="u10_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u11" class="text">
          <p><span>Try PoS Tokeniser now.</span></p><p><span>All you need is the Gaelic file ready to upload.</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u12" class="ax_shape">
        <img id="u12_img" class="img " src="/gaelic/static/u8.png"/>
        <!-- Unnamed () -->
        <div id="u13" class="text">
          <p><span>TOKENISER</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u14" class="ax_paragraph h3">
        <img id="u14_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u15" class="text">
          <p><span>Try PoS </span><span>Tagger </span><span>now.</span></p><p><span>All you need is the Gaelic file ready to upload.</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u16" class="ax_shape">
        <img id="u16_img" class="img " src="/gaelic/static/u8.png"/>
        <!-- Unnamed () -->
        <div id="u17" class="text">
          <p><span>TAGGER</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u18" class="ax_image">
        <img id="u18_img" class="img " src="/gaelic/static/u20.png"/>
        <!-- Unnamed () -->
        <div id="u19" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u20" class="ax_h1">
        <img id="u20_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u21" class="text">
          <p><span>S</span><span>chool of Computing</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u22" class="ax_shape">
        <img id="u22_img" class="img " src="/gaelic/static/u29.png"/>
        <!-- Unnamed () -->
        <div id="u23" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u24" class="ax_h2">
        <img id="u24_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u25" class="text">
          <p><span>GPOST API</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u26" class="ax_h2">
        <img id="u26_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u27" class="text">
          <p><span>G</span><span>POS</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u28" class="ax_h2">
        <img id="u28_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u29" class="text">
          <p><span>D</span><span>emos</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u30" class="ax_h2">
        <img id="u30_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u31" class="text">
          <p><span>D</span><span>ocumentation</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u32" class="ax_h2">
        <img id="u32_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u33" class="text">
          <p><span>C</span><span>ontact</span></p>
        </div>
      </div>

      <!-- Unnamed (Horizontal Line) -->
      <div id="u34" class="ax_horizontal_line">
        <img id="u34_start" class="img " src="/gaelic/static/transparent.gif" alt="u34_start"/>
        <img id="u34_end" class="img " src="/gaelic/static/transparent.gif" alt="u34_end"/>
        <img id="u34_line" class="img " src="/gaelic/static/u34_line.png" alt="u34_line"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u35" class="ax_image">
        <img id="u35_img" class="img " src="/gaelic/static/u42.gif"/>
        <!-- Unnamed () -->
        <div id="u36" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u37" class="ax_h2">
        <img id="u37_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u38" class="text">
          <p><span>How it works</span></p>
        </div>
      </div>

      <!-- SubNav (Dynamic Panel) -->
      <div id="u39" class="ax_dynamic_panel" data-label="SubNav">
        <div id="u39_state0" class="panel_state" data-label="State1">
          <div id="u39_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u40" class="ax_shape">
              <img id="u40_img" class="img " src="/gaelic/static/u47.png"/>
              <!-- Unnamed () -->
              <div id="u41" class="text">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u42" class="ax_h2">
              <img id="u42_img" class="img " src="/gaelic/static/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u43" class="text">
                <p><span>T</span><span>agger</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u44" class="ax_h2">
              <img id="u44_img" class="img " src="/gaelic/static/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u45" class="text">
                <p><span>T</span><span>okeniser</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u46" class="ax_shape">
        <img id="u46_img" class="img " src="/gaelic/static/u53.png"/>
        <!-- Unnamed () -->
        <div id="u47" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u48" class="ax_h2">
        <img id="u48_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u49" class="text">
          <p><span>© 2015 Edinburgh Napier University</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u50" class="ax_h2">
        <img id="u50_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u51" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u52" class="ax_h2">
        <img id="u52_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u53" class="text">
          <p><span>Edinburgh Napier University is a registered Scottish charity. Registration SC018373</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u54" class="ax_h2">
        <img id="u54_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u55" class="text">
          <p><span>Privacy </span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u56" class="ax_h2">
        <img id="u56_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u57" class="text">
          <p><span>Accessibility</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u58" class="ax_h2">
        <img id="u58_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u59" class="text">
          <p><span>Cookies</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u60" class="ax_h2">
        <img id="u60_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u61" class="text">
          <p><span>F</span><span>reedom of Information</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u62" class="ax_h2">
        <img id="u62_img" class="img " src="/gaelic/static/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u63" class="text">
          <p><span>C</span><span>ontact</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
